@page
@model Web.Pages.Productos.IndexModel
@{
    ViewData["Title"] = "Productos";
}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Gestión de Productos</div>
        <div class="masthead-heading text-uppercase">Administración Avanzada de Productos</div>
    </div>
</header>

<section class="page-section" id="principal">
    <div class="text-center">
        <h1 class="section-heading text-uppercase">Bienvenidos</h1>
        <h3 class="section-subheading text-muted">Aquí puede administrar todos los productos disponibles.</h3>
    </div>
</section>